{% extends 'base.html' %}

{% block title %}Relatórios{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3>Gerar Relatório</h3>

        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <div class="row">

                    <div class="col-md-5">

                        <label>Data Inicial</label>

                        <input
                            type="date"
                            name="data_inicial"
                            class="form-control"
                            required>

                    </div>

                    <div class="col-md-5">

                        <label>Data Final</label>

                        <input
                            type="date"
                            name="data_final"
                            class="form-control"
                            required>

                    </div>

                    <div class="col-md-2 d-flex align-items-end">

                        <button
                            class="btn btn-success w-100">

                            Exportar

                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}